<a href="https://colab.research.google.com/github/pramanand-coder/code-portfolio/blob/master/Titanic_Survival_Prediction_using_Naive_Bayes_Theorem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

To Load the data from the directory

In [2]:
5from google.colab import files
downloaded=files.upload()

Saving titanicsurvival.csv to titanicsurvival (1).csv

**Reading the dataset**

In [3]:
data=pd.read_csv("titanicsurvival.csv")

**Summarizing the dataset**

In [4]:
print(data.head())
print(data.shape)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0
(891, 5)

In [5]:
data.dtypes

Pclass        int64
Sex          object
Age         float64
Fare        float64
Survived      int64
dtype: object

In [6]:
data.describe()

           Pclass         Age        Fare    Survived
count  891.000000  714.000000  891.000000  891.000000
mean     2.308642   29.699118   32.204208    0.383838
std      0.836071   14.526497   49.693429    0.486592
min      1.000000    0.420000    0.000000    0.000000
25%      2.000000   20.125000    7.910400    0.000000
50%      3.000000   28.000000   14.454200    0.000000
75%      3.000000   38.000000   31.000000    1.000000
max      3.000000   80.000000  512.329200    1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
 4   Survived  891 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [8]:
data.corr()

            Pclass       Age      Fare  Survived
Pclass    1.000000 -0.369226 -0.549500 -0.338481
Age      -0.369226  1.000000  0.096067 -0.077221
Fare     -0.549500  0.096067  1.000000  0.257307
Survived -0.338481 -0.077221  0.257307  1.000000

In [9]:
data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [10]:
data["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

**Mapping the Sex column into binary value**

In [11]:
data["Sex"]=data["Sex"].map({"male":1,"female":0})
print(data.head(5))

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0

**Check for null values**

In [12]:
data.columns[data.isna().any()]

Index(['Age'], dtype='object')

In [13]:
data.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

**Filling the nan value with mean value in Age Column**

In [14]:
data.Age=data.Age.fillna(data.Age.mean())

In [15]:
data.columns[data.isna().any()]

Index([], dtype='object')

**Segragating the dataset into x(input value) and y(output)**

In [16]:
x=data.drop("Survived",axis=1)
print(x)

     Pclass  Sex        Age     Fare
0         3    1  22.000000   7.2500
1         1    0  38.000000  71.2833
2         3    0  26.000000   7.9250
3         1    0  35.000000  53.1000
4         3    1  35.000000   8.0500
..      ...  ...        ...      ...
886       2    1  27.000000  13.0000
887       1    0  19.000000  30.0000
888       3    0  29.699118  23.4500
889       1    1  26.000000  30.0000
890       3    1  32.000000   7.7500

[891 rows x 4 columns]

In [17]:
y=data.Survived
print(y)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

**Seprating the dataset into train and test**

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
print("Shape of training data:",x_train.shape)
print("shape of test data:",x_test.shape)

Shape of training data: (668, 4)
shape of test data: (223, 4)

**Algorithm**

In [19]:
from sklearn.naive_bayes import GaussianNB

**Training the model**

In [20]:
model=GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

**Testing the model**

In [21]:
Pclass=int(input("enter the persion pClass:"))
Sex=int(input("enter the persion Sex(female:0,male:1):"))
Age=int(input("enter the persion Age:"))
Fare=float(input("enter the persion Fare:"))
test=[[Pclass,Sex,Age,Fare]]
result=model.predict(test)
if result==1:
  print("The person might be survived")
else:
  print("The Person might not be survived")

enter the persion pClass:2
enter the persion Sex(female:0,male:1):1
enter the persion Age:34
enter the persion Fare:4
The Person might not be survived

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

**Prediction of all the remaining test data**

In [22]:
y_pred=model.predict(x_test)
print(np.column_stack((y_pred,y_test)))

[[0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [0 1]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [1 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 1]
 [1 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]]

**Accuracy**

In [23]:
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score
print("Confusion matrix:",confusion_matrix(y_pred,y_test))

Confusion matrix: [[110  21]
 [ 29  63]]

In [24]:
print("F1 Score:",f1_score(y_pred,y_test)*100)

F1 Score: 71.59090909090908

In [25]:
print("Accuracy score:",accuracy_score(y_pred,y_test)*100)

Accuracy score: 77.57847533632287

In [26]:
from sklearn.linear_model import LogisticRegression
model1=LogisticRegression()
model1.fit(x_train,y_train)
y_pred1=model1.predict(x_test)
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score
print("Confusion matrix:",confusion_matrix(y_pred1,y_test))
print("F1 Score:",f1_score(y_pred1,y_test)*100)
print("Accuracy score:",accuracy_score(y_pred1,y_test)*100)

Confusion matrix: [[117  24]
 [ 22  60]]
F1 Score: 72.28915662650604
Accuracy score: 79.37219730941703